@{
    ViewData["Title"] = "Контакти";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <hr />
    <div class="row mt-5">
        <ul class="mt-5" style="list-style:none">
            <li style="padding-bottom:0.2rem"><b>Работно време:</b> 09:00ч. - 17:00ч.</li>
            <li style ="padding-bottom:0.2rem"><b>Адрес:</b> гр. София, ул. Самоковско шосе 53</li>
            <li style="padding-bottom:0.2rem"><b>Телефон за връзка:</b> 088 355 7792</li>
            <li style="padding-bottom:0.2rem"><b>Целогодишна библиотека:</b> 02 973 6301</li>
            <li style="padding-bottom:0.2rem"><b>Имейл адрес:</b> nchvasillevski1926@abv.bg</li>
        </ul>
        <ul style="list-style:none">
            <li><h5>Председател - Илиана Николова</h5></li>
            <li><h5>Секретар - Никол Николова</h5></li>
            <li><h5>Домакин - Валя Пешева</h5></li>
            <li><h5>Библиотекар - Юлиана Николова</h5></li>
            <li><h5>Организатор - Невена Радева</h5></li>
        </ul>
        
    </div>
</div>