@{
    ViewData["Title"] = "Контакти";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <hr />
    <div class="row mt-5">
        <p class="mt-5">Работно време: 09:00ч. - 17:00ч.</p>
        <p>Телефон за връзка: 0812345678</p>
        <p>Целогодишна библиотека: 02 973 6301</p>
        <p>Имейл адрес: chitalishte_gorublyane@mail.com</p>
        <h5>Председател - Илиана Николова</h5>
        <h5>Секретар - Никол Николова</h5>
        <h5>Домакин - Валя Пешева</h5>
        <h5>Библиотекар - Юлиана Николова</h5>
        <h5>Организатор - Невена Радева</h5>
    </div>
</div>