@{
    ViewData["Title"] = "Контакти";
}

<div class="text-center">
    <h1 class="display-4">Контакти</h1>
    <p>Работно време: 09:00ч. - 17:00ч.</p>
    <hr />
    <p>Телефон за връзка:</p>
    <hr />
    <p>0812345678</p>
    <hr />
    <p>0812345678</p>
    <hr />
    <p>0812345678</p>
    <hr />
    <p>Имейл адрес:</p>
    <hr />
    <p>chitalishte_gorublyane@mail.com</p>
</div>