@{
    ViewData["Title"] = "Грешка";
} 

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на вашата заявка.</h2>
<br /><br /> 
<div class="text-left h4">Върнете се към <a asp-controller="Home" asp-action="Index">Начална</a> страница.</div>