@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link btn text-light" asp-area="Identity" asp-page="/Account/Manage/Index">Профил</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn text-light" asp-area="" asp-controller="Home" asp-action="Index" title="Back">Публичен Интерфейс</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn text-light" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn text-light" asp-area="Identity" asp-page="/Account/Login">Влизане</a>
        </li>
    }
</ul>