@{
    ViewData["Title"] = "Галерия";
}

<h2 class="text-center display-4">@ViewData["Title"]</h2>
<hr />

<div class="row justify-content-center align-items-center mt-5">
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image01.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image02.jpg" width="100%"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image03.jpg" width="100%"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image04.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image05.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image06.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image07.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image08.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image09.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image10.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image11.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image12.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image13.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image14.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image15.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image16.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image17.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image18.jpg" width="100%" height="310"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image19.jpg" width="100%"></img>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-4">
            <img src="~/images/gallery/image20.jpg" width="100%"></img>
        </div>
    </div>
</div>