@{
    ViewData["Title"] = "История";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <hr />
    <p>Официалното образуване на читалище „Васил Левски“ става на 3 май 1926 г. по инициатива на учителя Деян Богданов Попов и 33 учредители, сред които са Деян Б. Попов, Иван Карабанов и сестрите Зора и Стана Иванови. Читалището носи името на Васил Левски, уважаван революционер, свързан с региона.</p>
    <p>Дейността му започва на 17 октомври 1926 г. с водосвет в основното училище, а първото ръководство включва председателя Иван Карабанов и секретаря Деян Богданов. През 1947 г. започва строежът на читалищния дом с подкрепата на местната власт, като много жители на Горубляне активно участват в подготовката и строителството. За една година е завършена двуетажната сграда.</p>
</div>
