@model ActivityFormModel
@{
    ViewData["Title"] = "Добави Дейност";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_ActivityFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}